@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka:wght@600;700&family=Poppins:wght@700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background: transparent; 
  z-index: 1000; 

  /*got this glass blury backround preset for my nav bar from chatGPT*/
  background-color: rgba(157, 157, 157, 0); 
  
  /* This creates the actual blur effect */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* For Safari compatibility */
  border: 1px solid rgb(0, 0, 0);
}

.logo {
  font-size: 25px;
  color: #ff7caa;
  text-align: center;
  margin-left: 75px;
  text-shadow: 0px 0px 10px black;
  letter-spacing: 1px;
  -webkit-text-stroke: 0.8px #000000;
  font-weight: 900;
}

.logo span {
  display: block;
  line-height: 1;
  text-shadow: 0px 0px 8px rgba(214, 69, 119, 0.4);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 10px;
  font-weight: 700;
  text-shadow: 0px 0px 10px black;
}

.nav-links a {
  color: #ff7caa;
  text-decoration: none;
  font-size: 23px;
  margin-right: 125px;
  transition: all 1s ease;
  font-family: 'Fredoka', sans-serif;
  -webkit-text-stroke: 0.8px #000000;
}

.nav-links a:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
  letter-spacing: 0.5px;
  color: #ff7caa;
}

.hero {
  position: relative;
  height: 100vh;
}

@keyframes heroTitleLoad {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.hero-title {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Poppins', sans-serif;
  font-size: 160px;
  font-weight: 800;
  color: #ff82ae;
  text-align: right;
  line-height: 0.9;
  text-shadow: 0px 0px 15px rgba(214, 69, 119, 0.5);
  -webkit-text-stroke: 1px #000000;
  letter-spacing: -2px;
  z-index: 10;
  animation: heroTitleLoad 2s ease-out forwards;
  opacity: 0;
}

.hero-title span {
  display: block;
}

.hero-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.quote {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #000000a2;
  text-align: right;
  line-height: 0.9;
  letter-spacing: -2px;
  z-index: 10;
  animation: heroTitleLoad 3s ease-out forwards;
  opacity: 3;
  max-width: 500px;
  margin-top: 250px;
}

.band {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  border-top: 5px solid black;
}

.band-vid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.gallery {
  background-image: url(static/group-photo.jpg);
  height: 130vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  gap: 100px;
}

.gallery-header {
  color: white;
  margin-top: 75px;
  font-size: 150px;
  text-shadow: 0px 0px 40px black;
  letter-spacing: 20px;
}

@keyframes revealTitle {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.gallery-header {
  /* Link animation to the page scroll */
  animation: revealTitle linear both;
  animation-timeline: view();
  
  /* Animation starts when top of element enters bottom of screen */
  /* Animation ends when element reaches 30% of the screen height */
  animation-range: entry 0% contain 70%;
}

.grid-container {
  height: 750px;
  width: 1600px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px 20px;
}

.img:hover {
  box-shadow: 0px 0px 100px #ff82ae;
}

.unique1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;

  background-image: url(static/photo.jpg);
  background-size: cover;
  background-position: top;
}

.unique2 {
  grid-row: 3/5;
  grid-column: 1/2;

  background-image: url(static/download-5.jpg);
  background-size: cover;
}

.img1 {
  background-image: url(static/images.jpg);
}

.img5 {
  background-image: url(static/images-2.jpg);
  background-size: cover;
}

.img8 {
  background-image: url(static/images-1.jpg);
}

.img10 {
  background-image: url(static/download.jpg);
}

.img12 {
  background-image: url(static/images-3.jpg);
}

.bocchi {
  background-image: url(static/show.png);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

button{
  background-color: rgb(255, 94, 0);
  height: 75px;
  width: 250px;
  font-size: 25px;
  border-radius: 60px;
  margin-top: 800px;
  margin-left: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}

button:hover {
  background-color: rgb(255, 149, 27);
}